#anchorPane {
/* 	-fx-background-image: url("images/3.jpg"); */
/*	-fx-background-position: center;	*/
	-fx-background-color: black;
	-fx-background-size: 500px;
}

#ActBkTxt {
	-fx-font-size:25;
	-fx-font-family: "Arial Black";
	-fx-font-weight: bold;
	-fx-text-fill: linear-gradient(to bottom, white, darkorange);
}

#btnInput {
	-fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.7) , 10, 0, 5, 4.7);
}

#btnEnd {
	-fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.7) , 10, 0, 5, 4.8);
}

#btnList {
	-fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.7) , 10, 0, 5, 4.9);
}

#txtList:focused {
	-fx-border-color: skyblue;
	-fx-background-color: lemonchiffon;
}

#txtPrice:focused {
	-fx-border-color: skyblue;
	-fx-background-color: lavenderblush;
}

#selectDate:focused {
	-fx-border-color: skyblue;
	-fx-background-color: lavender;
}

#btnInput:hover {
	
}

Button {
	-fx-backgorund-color: blue;
	-fx-text-fill: black;
}

/* #date {
	-fx-backgorund-color: black;
	-fx-text-fill: white;
}

#price {
	-fx-backgorund-color: black;
	-fx-text-fill: white;
}

#list {
	-fx-backgorund-color: black;
	-fx-text-fill: white;
} */

Label {
	-fx-font-weight: bold;
}

.label {
	-fx-text-fill: white;
}