#anchorPane {
	-fx-background-image: url("images/p.jpg");
/*	-fx-background-position: center;	*/
	-fx-background-color: black;
	-fx-background-size: 600px;
}

#ActBkTxt {
	-fx-font-size:25;
	-fx-font-family: "Arial Black";
	-fx-font-weight: bold;
	-fx-text-fill: linear-gradient(to bottom, white, black);
}

#btnInput {
	-fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.7) , 10, 0, 5, 4.7);
}

#btnEnd {
	-fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.7) , 10, 0, 5, 4.8);
}

#btnList {
	-fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.7) , 10, 0, 5, 4.9);
}

#btnChart {
	-fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.7) , 10, 0, 5, 5);
}

#txtList:focused {
	-fx-border-color: skyblue;
	-fx-background-color: lemonchiffon;
}

#txtPrice:focused {
	-fx-border-color: skyblue;
	-fx-background-color: lemonchiffon;
}

#selectDate:focused {
	-fx-border-color: skyblue;
	-fx-background-color: lavender;
}

#btnInput:hover {
	
}

Button {
	-fx-backgorund-color: blue;
	-fx-text-fill: black;
}

/* #date {
	-fx-backgorund-color: black;
	-fx-text-fill: white;
}

#price {
	-fx-backgorund-color: black;
	-fx-text-fill: white;
}

#list {
	-fx-backgorund-color: black;
	-fx-text-fill: white;
} */

Label {
	-fx-font-weight: bold;
}

.label {
	-fx-text-fill: white;
}

/* #btnChart {
	-fx-background-image: url("images/chart.png");
	-fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
} */